@page
@model AWA.Pages.AboutModel
@{
    var pageTitle =
        Resourses.PageTitles.About;

    ViewData["pageTitle"] = pageTitle;
}

<h3>
    @(pageTitle)
</h3>

<hr />

<div class="row">
    <div class="col">
        @(Resourses.DataDictionary.SiteAuthor)
    </div>
    <div class="col">
        <img src="~/images/Artan.jpg" width="200px" height="200px" alt="ArtanArian" asp-append-version=true />
    </div>
</div>

<hr />
