@page
@model AWA.Pages.AboutModel
@{
    var title = "درباره ی آرتان";

    ViewData["Title"] = title;
}

<h3>
    @(title)
</h3>

<hr />

<div class="row">
    <div class="col">
        من آرتان هستم(محمد مهدی محمدی) ،برنامه نویس این پروژه
        و
        این پروژه، اولین پروژه وب من می باشد
    </div>
    <div class="col">
        <img src="~/images/Artan.jpg" width="200px" height="200px" alt="ArtanArian" asp-append-version=true />
    </div>
</div>

<hr />
