@page
@model AWA.Pages.ContactModel
@{
    var title = "تماس با آرتان";

    ViewData["Title"] = title;
}

<h3>
    @(title)
</h3>

<hr />

<div class="row">
    <div class="col">
        شماره تلفن همراه:
        <a href="tel:09375083081">09375083081</a>
        <br />
        نشانی پست الکترونیک:
        <a href="mailto:mmohammadimolasarayi@gmail.com" target="_blank">mmohammadimolasarayi@gmail.com</a>
    </div>
</div>
