@page
@model AWA.Pages.IndexModel
@{
	var pageTitle = 
	    Resourses.PageTitles.Index;

	ViewData["pageTitle"] = pageTitle;
}

<h3>
	@(pageTitle)
</h3>

<hr />

<div class="row">
	<div class="col">
		@(Resourses.DataDictionary.SourceCode)

		<br />

		<div dir="ltr">
			<a href="http://github.com/mohammadmahdimohammadim/atemplate" target="_blank" >http://Github.com/MohammadMahdiMohammadiM/ATemplate</a>
		</div>
	</div>
</div>

<hr />
