
@{
    var currentCultureName = 
    System.Threading.Thread.
    CurrentThread.CurrentUICulture.
    TwoLetterISOLanguageName
    ;
}

<span class="d-flex">
	@if (currentCultureName != "fa")
	{
	<a href="/ChangeCulture?name=fa" class="nav-link  text-dark">
	فارسی
	<span class="fi fi-ir"></span>
	</a>
	}

	@if (currentCultureName != "en")
	{
	<a href="/ChangeCulture?name=en" class="nav-link text-dark">
	English
	<span class="fi fi-us"></span>
	</a>
	}
	</span>