<footer class="py-3 bg-dark fixed-bottom" dir="ltr">
        <div class="container">
            <span class="text-warning">
                &copy;2022-ArianTech.Co
            </span>
        </div>
    </footer>